*{
  padding: 0;
  margin: 0;
  user-select: none;
}

@font-face{
  font-family: titleFont;
  src: url(carmen.woff2);
}

body{
  background-color: rgb(156, 198, 235);
  overflow: hidden;
}

.mainCont{
  display: flex;
  justify-content: space-around;
  font-family: titleFont, sans-serif;
  font-size: 3vw;
  margin-top: 5vh;
  cursor:default;

}

.title{
    text-shadow: 0 0 15px rgb(17, 5, 192);
    transition: 1s;
    text-align: center;
    user-select: none;
  }

  .title::after{
   margin-top: 0vh; 
   background-size: 100%;
   background-repeat: no-repeat;
  background-image: url(pic/underline.png);
  width: 12vw;
  height: 4vh;
  display: block;
  content: '';
  z-index: 1;
  }

.title:hover{
  text-shadow: 0 0 15px rgb(230, 197, 10);

}

.rightDecor{
  position: absolute;
  right: 0;
  top: 0;
  width: 10vw;
  z-index: -1;
}

.treeCont{
  display: flex;
  justify-content: space-around;
  font-size: 1.5vw;
  color: rgb(226, 212, 17);
  font-family: titleFont, sans-serif;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}

.christmasTree{
  width: 33vw;
}

.snowFooter{
  position: absolute;
  width: 100vw;
  bottom: -23vh;
  z-index: 8;
}

.clockCont{
  position: absolute;
  left: 2vw;
  top: 2vh;
}

.clockIcon{
  width: 4vw;
}

.decor{
  width: 3vw;
}



.balliDesc{
  position: relative;
  width: 5vw;
  text-align: center;
}


.TB{ /*class for every top ribbon*/
  position: relative;
  top: 1vh;
  z-index: 100;
}


.ball{
  transition: 1s;
    z-index: 80;
}

.ball:hover{
  transform: scale(1.2);
}



.presentName{
  text-shadow: 0 0 10px rgb(0, 17, 255);
  opacity: 0;
}

.star{
  position: absolute;
  top: 13vh;
  width: 6vw;
  opacity: 0.7;
}

.first{
  left: 13.5vw;
}

.snowflake{
  position: absolute;
  top: -10px;
  background-image: url(pic/snowflake.png);
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}

.snowfall{
  position: absolute;
  top: -10px;
  background-color: rgb(250, 250, 250);
  opacity: 0.7;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}

.poscomp{
  left: 35%;
  top: -40%;
}

.posFam{
  left: 50%;
  top: -34%;
}

.posCat{
  left: 70%;
  bottom: 40%;
}

.posFriend{
  left: 10%;
  bottom: 30%;
}


 .posGym{
  left: 40%;
  bottom: 70%;
 }

.posgrades{
  left: 60%;
  bottom: 45%;
}

.postravel{
  left: 20%;
  bottom: 15%;
}